{% extends "base.html" %}

{% block content %}
    <!-- Filter form -->
<form id="filter-form" class="row">
    <select name="course" class="form-control-sm col-lg-3 col-md-4 p-2 m-3">
        <option value="">Hamma kurslar</option>
        {% for course in courses %}
            <option value="{{course.id}}">{{course}}</option>
        {% endfor %}
    </select>
        <input type="date" name="start_day" class="form-control-sm col-lg-3 m-2 " id="">
        <input type="date" name="end_day" class="form-control-sm col-lg-3 m-2" id="">
</form>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<!-- Applicants table -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>Ism</th>
            <th>Kurs</th>
            <th>Guruh</th>
            <th>so'ngi to'lov</th>
            <th>To'lov</th>

        </tr>
    </thead>
    <tbody id="applicants-table">
        {% for payment in payments %}
            <tr>
                <td>{{ payment.student.student.first_name }}</td>
                
                <td>
                    
                    {% for course in payment.student.course.all %}
                    
                    <span class='badge badge-info'>{{course}} </span>
                    {% endfor %}
                
                </td>
                <td>
                    {% for group in payment.student.group.all %}
                    
                    <span class='badge badge-info'>{{group}} </span>
                    {% endfor %}
                </td>
                <td>{{payment.date}}</td>
                <td>{{payment.amount}}</td>
            </tr>
        {% endfor %}
    </tbody>
   
</table>
<p id='all_incomes' class="alert alert-danger">

</p>

{% endblock content %}

{% block script %}
<script>
 
$(document).ready(function() {
    // Define a function to update the table with the filtered data
    function updateTable(data) {
        var table = $('#applicants-table');
        table.empty();
        var totalAmount = 0;
        for (var i = 0; i < data.length; i++) {
            var row = '<tr>' +
                        '<td>' + data[i].first_name + '</td>' +
                        '<td>' + data[i].course.join(', ') + '</td>' +
                        '<td>' + data[i].group.join(', ') + '</td>' +
                        '<td>' + data[i].last_payment + '</td>' +
                        '<td>' + data[i].payment_amount + '</td>' +
                      '</tr>';
            table.append(row);
            totalAmount += parseFloat(data[i].payment_amount);
        }
    }
    function calculateTotalAmount() {
        var totalAmount = 0;
        $('#applicants-table tr').each(function() {
            var amount = $(this).find('td:last-child').text();
            totalAmount += parseFloat(amount + ' sum');
        });
        $('#all_incomes').text(totalAmount + ' sum');
    }

    // Call the calculateTotalAmount function when the page is loaded
    calculateTotalAmount();
    // Define a function to send an AJAX request to the filter_data view function
    function filterData() {
        $.ajax({
            url: '{% url "all_incomes_filter" %}',
            data: $('#filter-form').serialize(),
            success: updateTable,
        });
    }

    // Call the filterData function when the filter form is changed
    $('#filter-form').on('change', filterData);
});

    
</script>
{% endblock script %}