{% extends 'base.html' %}

{% block content %}
    {% if payments %}
    <form method="post" action="{% url 'confirm_payments' %}">
        {% csrf_token %}
        <div class="d-flex justify-content-between">
                <h2 class="" id="hamma_summa" > umumiy summa: <span>{{ total_payments }}</span></h2>
                <input type="submit" class="btn btn-dark" value="Tasdiqlash">
        
        </div>

        <table class="table table-bordered">
            <thead>
                <th>ism</th>
                <th>guruh</th>
                <th>admin</th>
                <th>miqdor</th>
                <th>uslub</th>
                <th>vaqt</th>
                <th>tasdiq <br> <label >all <input type="checkbox" onClick="toggle(this)" /></label>
                </th>
            </thead>
            <tbody>

                <tr>
                    {% for payment in payments %}
                        <td>
                            {{payment.student}}
                        </td>
                        <td>
                            {{payment.group}}
                        </td>
                        <td>
                            {{payment.admin}}
                        </td>
                        <td>
                            {{payment.amount}}
                        </td>
                        <td>
                            {{payment.payment_method}}
                        </td>
                        <td>
                            {{payment.date}}
                        </td>
                        <td>
                            <input class="form-check-input"  name="payment_ids"  type="checkbox" id="checkboxNoLabel" value="{{ payment.id }}" />
                        </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </form>
    {% else %}
        <h1 class="text-center">Hozircha to'lovlar yo'q</h1>    
    {% endif %}
{% endblock content %}

{% block script %}
<script>
    function toggle(source) {
        checkboxes = document.getElementsByName('payment_ids');
        for(var i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;
        }
    }
</script>

{% endblock script %}   