{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                        <div class="d-flex flex-wrap align-items-center">
                            <div class="profile-img position-relative me-3 mb-3 mb-lg-0">
                                <img src="../../assets/images/avatars/01.png" class="img-fluid rounded-pill avatar-100" alt="profile-image">
                            </div>
                            <div class="d-flex flex-wrap align-items-center mb-3 mb-sm-0">
                                <h4 class="me-2 h4">Austin Robertson</h4>
                                <span> - Web Developer</span>
                            </div>
                        </div>
                        <ul class="d-flex nav nav-pills mb-0 text-center profile-tab" data-toggle="slider-tab" id="profile-pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active show" data-bs-toggle="tab" href="#profile-feed" role="tab" aria-selected="false">Feed</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#profile-activity" role="tab" aria-selected="false">Activity</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#profile-friends" role="tab" aria-selected="false">Friends</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#profile-profile" role="tab" aria-selected="false">Profile</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="card-header">
                    <div class="header-title">
                        <h4 class="card-title">News</h4>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-inline m-0 p-0">
                        <li class="d-flex mb-2">
                            <div class="news-icon me-3">
                                <svg width="20" viewBox="0 0 24 24">
                                    <path fill="currentColor" d="M20,2H4A2,2 0 0,0 2,4V22L6,18H20A2,2 0 0,0 22,16V4C22,2.89 21.1,2 20,2Z" />
                                </svg>
                            </div>
                            <p class="news-detail mb-0">there is a meetup in your city on fryday at 19:00. <a href="#">see details</a></p>
                        </li>
                        <li class="d-flex">
                            <div class="news-icon me-3">
                                <svg width="20" viewBox="0 0 24 24">
                                    <path fill="currentColor" d="M20,2H4A2,2 0 0,0 2,4V22L6,18H20A2,2 0 0,0 22,16V4C22,2.89 21.1,2 20,2Z" />
                                </svg>
                            </div>
                            <p class="news-detail mb-0">20% off coupon on selected items at pharmaprix </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Gallery</h4>
                    </div>
                    <span>132 pics</span>
                </div>
                <div class="card-body">
                    <div class="d-grid gap-card grid-cols-3">
                        <a data-fslightbox="gallery" href="../../assets/images/icons/04.png">
                            <img src="../../assets/images/icons/04.png" class="img-fluid bg-soft-info rounded" alt="profile-image">
                        </a>
                        <a data-fslightbox="gallery" href="../../assets/images/shapes/02.png">
                            <img src="../../assets/images/shapes/02.png" class="img-fluid bg-soft-primary rounded" alt="profile-image">
                        </a>
                        <a data-fslightbox="gallery" href="../../assets/images/icons/08.png">
                            <img src="../../assets/images/icons/08.png" class="img-fluid bg-soft-info rounded" alt="profile-image">
                        </a>
                        <a data-fslightbox="gallery" href="../../assets/images/shapes/04.png">
                            <img src="../../assets/images/shapes/04.png" class="img-fluid bg-soft-primary rounded" alt="profile-image">
                        </a>
                        <a data-fslightbox="gallery" href="../../assets/images/icons/02.png">
                            <img src="../../assets/images/icons/02.png" class="img-fluid bg-soft-warning rounded" alt="profile-image">
                        </a>
                        <a data-fslightbox="gallery" href="../../assets/images/shapes/06.png">
                            <img src="../../assets/images/shapes/06.png" class="img-fluid bg-soft-primary rounded" alt="profile-image">
                        </a>
                        <a data-fslightbox="gallery" href="../../assets/images/icons/05.png">
                            <img src="../../assets/images/icons/05.png" class="img-fluid bg-soft-danger rounded" alt="profile-image">
                        </a>
                        <a data-fslightbox="gallery" href="../../assets/images/shapes/04.png">
                            <img src="../../assets/images/shapes/04.png" class="img-fluid bg-soft-primary rounded" alt="profile-image">
                        </a>
                        <a data-fslightbox="gallery" href="../../assets/images/icons/01.png">
                            <img src="../../assets/images/icons/01.png" class="img-fluid bg-soft-success rounded" alt="profile-image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="header-title">
                        <h4 class="card-title">Twitter Feeds</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="twit-feed">
                        <div class="d-flex align-items-center mb-2">
                            <img class="rounded-pill img-fluid avatar-50 me-3 p-1 bg-soft-danger ps-2" src="../../assets/images/icons/03.png" alt="">
                            <div class="media-support-info">
                                <h6 class="mb-0">Figma Community</h6>
                                <p class="mb-0">@figma20
                                    <span class="text-primary">
                                        <svg width="15" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="M10,17L5,12L6.41,10.58L10,14.17L17.59,6.58L19,8M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
                                        </svg>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="media-support-body">
                            <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                            <div class="d-flex flex-wrap">
                                <a href="#" class="twit-meta-tag pe-2">#Html</a>
                                <a href="#" class="twit-meta-tag pe-2">#Bootstrap</a>
                            </div>
                            <div class="twit-date">07 Jan 2021</div>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="twit-feed">
                        <div class="d-flex align-items-center mb-2">
                            <img class="rounded-pill img-fluid avatar-50 me-3 p-1 bg-soft-primary" src="../../assets/images/icons/04.png" alt="">
                            <div class="media-support-info">
                                <h6 class="mb-0">Flutter</h6>
                                <p class="mb-0">@jane59
                                    <span class="text-primary">
                                        <svg width="15" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="M10,17L5,12L6.41,10.58L10,14.17L17.59,6.58L19,8M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
                                        </svg>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="media-support-body">
                            <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                            <div class="d-flex flex-wrap">
                                <a href="#" class="twit-meta-tag pe-2">#Js</a>
                                <a href="#" class="twit-meta-tag pe-2">#Bootstrap</a>
                            </div>
                            <div class="twit-date">18 Feb 2021</div>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="twit-feed">
                        <div class="d-flex align-items-center mb-2">
                            <img class="rounded-pill img-fluid avatar-50 me-3 p-1 bg-soft-warning pt-2" src="../../assets/images/icons/02.png" alt="">
                            <div class="mt-2">
                                <h6 class="mb-0">Blender</h6>
                                <p class="mb-0">@blender59
                                    <span class="text-primary">
                                        <svg width="15" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="M10,17L5,12L6.41,10.58L10,14.17L17.59,6.58L19,8M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
                                        </svg>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="media-support-body">
                            <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                            <div class="d-flex flex-wrap">
                                <a href="#" class="twit-meta-tag pe-2">#Html</a>
                                <a href="#" class="twit-meta-tag pe-2">#CSS</a>
                            </div>
                            <div class="twit-date">15 Mar 2021</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     
    </div>
  
{% endblock content %}